/*
 * This file is part of the Access to Memory (AtoM) software.
 *
 * Access to Memory (AtoM) is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Access to Memory (AtoM) is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Access to Memory (AtoM).  If not, see <http://www.gnu.org/licenses/>.
 */

// Clipboard action button
button.clipboard,
button.clipboard-wide {
  color: @edgeBlue;

  &.added {
    background-color: @edgeBlue;

    &:hover {
      background-color: @edgeRed;
    }
  }

  &:hover {
    background-color: @edgeBlue;
  }
}

// General action buttons
.c-btn {
  background-color: rgba(0, 46, 93, 0.3);
}

.c-btn-submit {
  background-color: rgba(50, 94, 184, 0.6);
}

.c-btn-delete {
  background-color: rgba(210, 38, 48, 0.6);
}
